name: Android CI

on: workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Setup Android NDK
      uses: nttld/setup-ndk@v1.5.0
      with:
        ndk-version: r27d
        add-to-path: true
        link-to-sdk: true
        local-cache: true

    - name: Checkout FFmpeg
      uses: actions/checkout@v6
      with:
        repository: 'FFmpeg/FFmpeg'
        ref: 'n7.1.3'
        path: 'libav'

    # - name: Build libav for arm64-v8a
    #   run: |
    #     mkdir libav_build libav_install
    #     cd libav_build

    - name: Checkout shaft2
      uses: actions/checkout@v6
      with:
        repository: 'tobelogin/Pixiv-Shaft'
        ref: 'master'
        path: 'shaft2'

    - name: set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Build with Gradle
      run: |
        cd shaft2
        chmod +x gradlew
        ./gradlew --no-daemon assembleRelease
