name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Setup Android NDK
      uses: nttld/setup-ndk@v1.5.0
      with:
        ndk-version: r27d
        add-to-path: true
        link-to-sdk: true
        local-cache: true

    - name: Checkout FFmpeg
      uses: actions/checkout@v6
      with:
        repository: 'FFmpeg/FFmpeg'
        ref: 'n7.1.3'
        path: 'ffmpeg'

    - name: Checkout shaft2
      uses: actions/checkout@v6
      with:
        repository: 'tobelogin/Pixiv-Shaft'
        ref: 'master'
        path: 'shaft2'

    - name: set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle
        cache-dependency-path: |
          shaft2/*.gradle*
          shaft2/**/gradle-wrapper.properties

    - name: Grant execute permission for gradlew
      run: chmod +x shaft2/gradlew
    - name: Build with Gradle
      run: cd shaft2 && ./gradlew build --no-daemon
